<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>
        Features | Wisdom Theme DemoSite
</title>

<meta property="article:published_time" content="2022-02-05T00:00:00&#43;00:00" />
<meta property="article:modified_time" content="2022-02-05T00:00:00&#43;00:00" />

<meta name="robots" content="index, follow">
    <meta name="keywords" content="features, wisdom, markdown, shortcodes" />
<meta name="description" content="Wisdom Theme Features">

<meta name="author" content="Wisdom">

<link rel="canonical" href="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/features/" />
<link rel="icon" href="favicon.ico">


<link rel="stylesheet" href="/hugo-theme-wisdom/scss/style.min.6a8d8aab529bf6cceb957cb2d04aa205cc4af0864baff793a8998a0819183d52.css" integrity="sha256-ao2Kq1Kb9szrlXyy0EqiBcxK8IZLr/eTqJmKCBkYPVI=">

<meta itemprop="name" content="Features">
<meta itemprop="description" content="Wisdom Theme Features"><meta itemprop="datePublished" content="2022-02-05T00:00:00+00:00" />
<meta itemprop="dateModified" content="2022-02-05T00:00:00+00:00" />
<meta itemprop="wordCount" content="29">
<meta itemprop="keywords" content="features,wisdom,markdown,shortcodes," /><meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Features"/>
<meta name="twitter:description" content="Wisdom Theme Features"/>
<meta property="og:title" content="Features" />
<meta property="og:description" content="Wisdom Theme Features" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/features/" /><meta property="article:section" content="posts" />
<meta property="article:published_time" content="2022-02-05T00:00:00+00:00" />
<meta property="article:modified_time" content="2022-02-05T00:00:00+00:00" />

<meta name="generator" content="Hugo 0.92.2" />

</head>
<body>
    <header role="main">
    <h1>Wisdom Theme DemoSite</h1>
    
    <nav>
        <ul>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/">home</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/">posts</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/categories/">categories</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/">tags</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/index.xml">rss</a>
            </li>
            
        </ul>
    </nav>
    
</header>

    
<main>
<article class="entry">
    <h1>Features</h1>
    <div class="meta">
        <ul>
    
    <li>
        <time datetime="2022-02-05T00:00:00">Feb 5, 2022</time>
    </li>
    <li>1 min</li>
        <li>Wisdom</li>
</ul>
        <ul>
    
        <li><a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/features/">features</a></li>
    
        <li><a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/wisdom/">wisdom</a></li>
    
        <li><a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/markdown/">markdown</a></li>
    
        <li><a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/shortcodes/">shortcodes</a></li>
    
</ul>
    </div>
    <div>
        <h2 id="shortcodes">Shortcodes</h2>
<h3 id="callouts">Callouts</h3>
<pre tabindex="0"><code>{{&lt;callout&gt;}}This is a callout!{{&lt;/callout&gt;}}
</code></pre><div class="callout">
     💡 
    This is a callout!
</div>

<pre tabindex="0"><code>{{&lt;callout emoji=&quot;🔥&quot;&gt;}}This is a callout with a custom icon!{{&lt;/callout&gt;}}
</code></pre><div class="callout">
     🔥 
    This is a callout with a custom icon!
</div>


    </div>
    
</article>
</main>

    <footer>
  <span>&copy; 2024 <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/">Wisdom Theme DemoSite</a></span>
  <span>
      Powered by
      <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
      <a href="https://github.com/maxrodrigo/hugo-theme-wisdom/" rel="noopener" target="_blank">Wisdom</a>
  </span>
</footer>

</body>
</html>
