<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>
        Math Typesetting | Wisdom Theme DemoSite
</title>

<meta property="article:published_time" content="2019-03-08T00:00:00&#43;00:00" />
<meta property="article:modified_time" content="2019-03-08T00:00:00&#43;00:00" />

<meta name="robots" content="index, follow">
    <meta name="keywords" content="" />
<meta name="description" content="A brief guide to setup KaTeX">

<meta name="author" content="Wisdom">

<link rel="canonical" href="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/math-typesetting/" />
<link rel="icon" href="favicon.ico">


<link rel="stylesheet" href="/hugo-theme-wisdom/scss/style.min.6a8d8aab529bf6cceb957cb2d04aa205cc4af0864baff793a8998a0819183d52.css" integrity="sha256-ao2Kq1Kb9szrlXyy0EqiBcxK8IZLr/eTqJmKCBkYPVI=">

<meta itemprop="name" content="Math Typesetting">
<meta itemprop="description" content="A brief guide to setup KaTeX"><meta itemprop="datePublished" content="2019-03-08T00:00:00+00:00" />
<meta itemprop="dateModified" content="2019-03-08T00:00:00+00:00" />
<meta itemprop="wordCount" content="114">
<meta itemprop="keywords" content="" /><meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Math Typesetting"/>
<meta name="twitter:description" content="A brief guide to setup KaTeX"/>
<meta property="og:title" content="Math Typesetting" />
<meta property="og:description" content="A brief guide to setup KaTeX" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/math-typesetting/" /><meta property="article:section" content="posts" />
<meta property="article:published_time" content="2019-03-08T00:00:00+00:00" />
<meta property="article:modified_time" content="2019-03-08T00:00:00+00:00" />

<meta name="generator" content="Hugo 0.92.2" />

</head>
<body>
    <header role="main">
    <h1>Wisdom Theme DemoSite</h1>
    
    <nav>
        <ul>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/">home</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/posts/">posts</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/categories/">categories</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/tags/">tags</a>
            </li>
            
            <li>
                <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/index.xml">rss</a>
            </li>
            
        </ul>
    </nav>
    
</header>

    
<main>
<article class="entry">
    <h1>Math Typesetting</h1>
    <div class="meta">
        <ul>
    
    <li>
        <time datetime="2019-03-08T00:00:00">Mar 8, 2019</time>
    </li>
    <li>1 min</li>
        <li>Wisdom</li>
</ul>
        <ul>
    
</ul>
    </div>
    <div>
        <p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>
<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>
<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:</li>
</ul>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash"><span style="color:#f92672">{{</span> <span style="color:#66d9ef">if</span> or .Params.math .Site.Params.math <span style="color:#f92672">}}</span>
<span style="color:#f92672">{{</span> partial <span style="color:#e6db74">&#34;math.html&#34;</span> . <span style="color:#f92672">}}</span>
<span style="color:#f92672">{{</span> end <span style="color:#f92672">}}</span>
</code></pre></div><ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project&rsquo;s configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files</li>
</ul>
<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a></p>

<h3 id="examples">Examples</h3>

<p>Block math:
$$
\varphi = 1+\frac{1} {1+\frac{1} {1+\frac{1} {1+\cdots} } }
$$</p>
    </div>
    
</article>
</main>

    <footer>
  <span>&copy; 2024 <a href="https://www.maxrodrigo.com/hugo-theme-wisdom/">Wisdom Theme DemoSite</a></span>
  <span>
      Powered by
      <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
      <a href="https://github.com/maxrodrigo/hugo-theme-wisdom/" rel="noopener" target="_blank">Wisdom</a>
  </span>
</footer>

</body>
</html>
