{{ define "main" }}
{{ $postsLimit := .Site.Params.latestPostsLimit | default 5 }}
<main>
    {{ with .Content }} {{ . | emojify }} {{ end }}

    {{ $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections}}
    {{- if $posts}}
    
    {{- end}}
</main>

<!-- <a rel="me" href="https://mastodon.social/@madqubit">Mastodon</a> -->
{{ end }}
