html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
:root {
  --bg-color: rgb(255, 220, 181);
  --font-color: #000
  --link-color: #00e;
  --visited-color: #551a8b;
  --pre-color: #fff;
  --pre-bg-color: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(48, 22, 22);
    --font-color: #ffff;
    --link-color: #5bf;
    --visited-color: #ae5ee0;
    --pre-color: #fff;
    --pre-bg-color: #383838;
  }
}
body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: var(--font-color);
  background: var(--bg-color);
}
a:link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--visited-color);
}
a:active {
  color: var(--visited-color);
}
h1,
h2,
h3 {
  line-height: 1.2;
}
p > code {
  color: var(--pre-color);
  background: var(--pre-bg-color);
  padding: 2px;
}
pre {
  color: var(--pre-color);
  background: var(--pre-bg-color);
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

header[role="main"] nav {
  ol,ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.meta {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: " \00b7";
    }
  }
}

.item .meta {
  font-size: 12px;
  display: inline-block;
  opacity: 75%;
}

.item-more {
  list-style: none;
}

.callout {
  padding: 1em;
  color: var(--pre-color);
  background: var(--pre-bg-color);
}

footer {
  font: 12px/1.5 monospace;
  padding-top: 24px;
}
